/* Open Sans - Light */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

/* Open Sans - Regular */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Open Sans - Medium */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/* Open Sans - SemiBold */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Open Sans - Bold */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* Open Sans - ExtraBold */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Open Sans - Condensed */
@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans Condensed";
  src: url("/fonts/OpenSans_Condensed-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

/* Open Sans - SemiCondensed */
@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans SemiCondensed";
  src: url("/fonts/OpenSans_SemiCondensed-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
