@import url(../fonts/montserrat.css);
@import url(../fonts/open-sans.css);
@import url(../fonts/inter.css);

@theme {
  /* Fonts */
  --font-montserrat: Montserrat, sans-serif;
  --font-opensans: Open Sans, sans-serif;
  --font-inter: Inter, sans-serif;
  /* Gruvbox light */
  --gruvbox-light-bg: #fbf1c7;
  --gruvbox-light-fg: #3c3836;
  --gruvbox-light-red: #cc241d;
  --gruvbox-light-green: #98971a;
  --gruvbox-light-yellow: #d79921;
  --gruvbox-light-blue: #458588;
  --gruvbox-light-purple: #b16286;
  --gruvbox-light-aqua: #689d6a;
  --gruvbox-light-orange: #d65d0e;
  --gruvbox-light-link: #458588;
  --gruvbox-light-link-hover: #83a598;
  /* Gruvbox dark */
  --gruvbox-dark-bg: #282828;
  --gruvbox-dark-fg: #ebdbb2;
  --gruvbox-dark-red: #fb4934;
  --gruvbox-dark-green: #b8bb26;
  --gruvbox-dark-yellow: #fabd2f;
  --gruvbox-dark-blue: #83a598;
  --gruvbox-dark-purple: #d3869b;
  --gruvbox-dark-aqua: #8ec07c;
  --gruvbox-dark-orange: #fe8019;
  --gruvbox-dark-link: #83a598;
  --gruvbox-dark-link-hover: #8ec07c;
  /* Gruvbox other */
  --gruvbox-dark0_hard: #1d2021;
  --gruvbox-dark0: #282828;
  --gruvbox-dark0_soft: #32302f;
  --gruvbox-dark1: #3c3836;
  --gruvbox-dark2: #504945;
  --gruvbox-dark3: #665c54;
  --gruvbox-dark4: #7c6f64;
  --gruvbox-dark4_256: #7c6f64;
  --gruvbox-gray_245: #928374;
  --gruvbox-gray_244: #928374;
  --gruvbox-light0_hard: #f9f5d7;
  --gruvbox-light0: #fbf1c7;
  --gruvbox-light0_soft: #f2e5bc;
  --gruvbox-light1: #ebdbb2;
  --gruvbox-light2: #d5c4a1;
  --gruvbox-light3: #bdae93;
  --gruvbox-light4: #a89984;
  --gruvbox-light4_256: #a89984;
  --gruvbox-bright_red: #fb4934;
  --gruvbox-bright_green: #b8bb26;
  --gruvbox-bright_yellow: #fabd2f;
  --gruvbox-bright_blue: #83a598;
  --gruvbox-bright_purple: #d3869b;
  --gruvbox-bright_aqua: #8ec07c;
  --gruvbox-bright_orange: #fe8019;
  --gruvbox-neutral_red: #cc241d;
  --gruvbox-neutral_green: #98971a;
  --gruvbox-neutral_yellow: #d79921;
  --gruvbox-neutral_blue: #458588;
  --gruvbox-neutral_purple: #b16286;
  --gruvbox-neutral_aqua: #689d6a;
  --gruvbox-neutral_orange: #d65d0e;
  --gruvbox-faded_red: #9d0006;
  --gruvbox-faded_green: #79740e;
  --gruvbox-faded_yellow: #b57614;
  --gruvbox-faded_blue: #076678;
  --gruvbox-faded_purple: #8f3f71;
  --gruvbox-faded_aqua: #427b58;
  --gruvbox-faded_orange: #af3a03;
}

:root {
  --r-background-color: var(--gruvbox-light-bg);
  --r-link-color: var(--gruvbox-light-link);
  --r-link-color-hover: var(--gruvbox-light-link-hover);
}

.reveal a {
  @apply tw:text-blue-500 tw:transition-colors tw:duration-150;
}
.reveal a:hover {
  @apply tw:text-blue-400;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
  @apply tw:font-inter tw:inline-block tw:text-[2.5rem] tw:leading-[3.5rem] tw:tracking-tight tw:text-pretty tw:text-gray-950 tw:max-lg:font-medium tw:lg:text-6xl tw:dark:text-gray-200;
}
.reveal h1 {
  @apply tw:font-[400] tw:text-6xl;
}
.reveal h2 {
  @apply tw:text-5xl;
}
.reveal h3 {
  @apply tw:text-4xl;
}
.reveal h4 {
  @apply tw:font-bold tw:text-2xl;
}

.reveal blockquote {
  @apply tw:w-3/4 tw:mx-auto tw:italic tw:bg-gray-50 tw:p-4 tw:border-l-4 tw:border-blue-500;
}

.reveal pre {
  @apply tw:w-11/12 tw:mx-auto tw:text-left tw:text-sm tw:font-mono tw:bg-gray-900 tw:text-gray-100 tw:p-4 tw:rounded-md tw:shadow-md;
}

.reveal section {
  @apply tw:w-full tw:h-full;
}

.screenshot {
  @apply  tw:max-h-4/5 tw:rounded-[1.5rem] tw:shadow-sm tw:mt-4 tw:mx-auto tw:block;
}

.container {
  @apply tw:w-full tw:h-full tw:gap-4 tw:flex tw:flex-col tw:items-center tw:max-h-full;
}

.container img {
  @apply tw:max-h-[500px] tw:object-contain;
}

.content {
  @apply tw:flex tw:flex-col tw:flex-1 tw:justify-items-start;
}
